extends layout

block content
  .main.container.text-xs-center
    h1.display-3 We got proglins &amp; the server is one of those
    p.lead There is an Error!
    a.btn.btn-info-outline.btn-lg(href='/register') Proglins getting connected