
/* Base Styles */

body {
	background: #1d2a33 url('../images/bg.jpg') no-repeat;
	background-size: cover; 
}

a:hover {
	color: rgba(49,176,213, .7);
}

/* Component Styles */

.navbar {
	padding: 1rem 0;
	background: rgba(0,0,0, .25);
}
.lead {
	margin-bottom: 2.5rem;
}
.main {
	color: #fff;
	min-height: calc(100vh - 34px);
}
.foot {
	font-size: .85rem;
	padding: .5rem 0;
	color: rgba(255,255,255, .6);
}

/* Modifier Styles */

.nav-items .nav-link {
	margin: 0 1rem;
}
.navbar-brand {
	margin: 0;
}
.navbar .nav-link,
.navbar .btn {
	text-transform: uppercase;
	font-size: .95rem;
}
.list-group {
	color: initial;
}
.label {
	font-size: .88rem;
	vertical-align: top;
	margin: 3px 0 0 4px;
}

/* Button Styles */

.btn-primary {
	background: #417aba;
	border-color: #417aba;
}
.btn-info {
	background-color: #31b0d5;
	border-color: #2aabd2;
}
.btn-info:hover {
	background-color: #5bc0de;
	border-color: #5bc0de;
}
.btn-light {
	color: rgba(255,255,255, .75);
	background: rgba(255,255,255, .12);
}
.btn-light:hover {
	background: rgba(255,255,255, .2);	
}
.active,
.btn {
	transition: .4s;
}

/* Icon Styles */

.icn-logo {
	margin: 3px 3px 0;
	float: left;
}
.icn-person {
	font-size: 50px;
	border-radius: 50%;
	border: solid 2px;
	padding: .5rem;
}
.avatar {
	width: 35px;
	margin-right: 18px;
	border: solid 2px rgba(255,255,255, .75);
}
.options {
	display: none;
}
.list-group-item:hover .options {
	display: block;
}
.options .material-icons {
	font-size: 1.25rem;
	cursor: pointer;
	margin-left: 1rem;
	color: rgba(0,0,0, .35);
}
.options .material-icons:hover {
	color: initial;
}

.favorite-book {
  margin-top: 30px;
}

/* Media Queries */

@media (min-width: 0) and (max-width: 47em) {
	.navbar {
		background: #1d2a33;
	}
	.nav-items .nav-item {
		float: none;
	}
	.nav-items .nav-link  {
		padding: .65rem 0;
		display: block;
	}
	.nav-items {
		padding: 1rem 0;
		clear: left;
	}
	.navbar .btn {
		margin-left: 1rem;
	}
	.main {
		padding-top: 6rem;
	}
}

@media (min-width: 48em) { 
	.navbar {
		min-height: 70px;
	}
	.navbar-nav .container {
		display: -webkit-flex;
		display: flex;
	}
	.nav-items {
		margin-right: auto;
		margin-left: auto;
	}
	.main {
		padding-top: 8rem;
	}
}








p {
	margin: 20px auto;
  }
  ul {
	padding: 0;
	list-style-type: none;
	margin-bottom: 10px;
	line-height: 1.3em;
  }
  nav {
	border-bottom: 2px solid #D8B493;
  }
  nav ul li {
	display: inline-block;
	list-style: none;
	padding-left: 7px;
  }
	nav ul li:after {
	  content: " | ";
	}
	nav ul li:last-child:after {
	  content: none;
	}
  h2 {
	border-top: 2px solid #e7e7e7;
	padding-top: 20px;
  }
  th {
	border-bottom: 2px solid blue;
	text-align: left;
	padding: 5px 20px 5px 10px;
  }
  tr {
	min-height: 50px;
  }
  tr .button {
	background-color: #4b6a88;
	padding: 4px 8px 5px;
	font-weight: normal;
  }
	tr .button:hover {
	  background-color: #547798;
	}
  tr:nth-child(2n) {
	background: #121a28;
  }
  td {
	padding: 5px 20px 5px 10px;
  }
  label {
	font-weight: bold;
	min-width: 130px;
	display: inline-block;
  }
